<ng-container *ngIf="authed; else elseTemplate">

    <div class="container" data-layout="container">
        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
            <app-side></app-side>
        </nav>

        <div class="content">
            <app-top></app-top>
            <router-outlet></router-outlet>
        </div>
    </div>

</ng-container>

<ng-template #elseTemplate>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

</ng-template>
